<template>
  <div v-if="all.length > 0">
 	<ContentView v-if="contentViewFlag" videoType="all"></ContentView>
 </div>
 <div v-else class="Container_loadingSpinner">
 	<div class="Content_loadingSpinner">
		<spring-spinner
	  		:animation-duration="3000"
	  		:size="120"
	  		color="#05878A">
		</spring-spinner>
 	</div>
</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import {videos} from '../videos.js'
import {videoMixin} from '../mixin/videoMixin.js'
import {SpringSpinner} from 'epic-spinners'
import ContentView from './contentView.vue'

export default {
	name: 'allVideos',
	mixins: [videoMixin],
	components: {
		SpringSpinner,
		ContentView
	},
	data () {
	  return {
		 all: videos.all,
		 contentViewFlag: videos.all.length>0 ? true : false
	  }
	},
	created(){
		var allVue = this
		if(videos.all.length == 0 ) {
		  	axios.get('http://localhost:8080/favorite/'+this.$session.get('loginedUser'))
		  	.then(function(response){
				var movieReady = response.data[0].Movie.map(function(movie){
					movie.edit = false
					return movie
				})
				videos.movie = movieReady
				
				var tvReady = response.data[0].Tv.map(function(tv){
					tv.edit = false
					return tv
				})
				videos.tv = tvReady
				
				var videoReady = movieReady.concat(tvReady)
				Vue.set(allVue, "all", videoReady)
				videos.all = videoReady
				allVue.all = videoReady
			 }, function(error){
				 alert(error.response.data)
			})
		}
	},
	updated(){
		this.$router.push('/')
	},
	beforeCreate() {
		if (this.$session.exists()==false) {
			this.$router.push('/login')
		}
  	}
}
</script>

<style>
.allcontainer {
	width: 80%;
	height: 80%;
	margin: 40px auto;
}

.EditBtnBox {
	float: right;
	height: 100px;
	width: 100px;
}

.EditBtnGroup {
	width: 80px;
	margin: 5px auto;
}

.EditTitleInput {
	width: 800px
}

.Container_loadingSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 300px;
	margin-left: -200px;
	margin-top: -150px;
}

.Content_loadingSpinner {
	position: relative;
	left: 50%;
	top: 50%;
	width: 240px;
	height: 50px;
	margin-left: -120px;
	margin-top: -25px;
}
</style>