<template>
<div>
 	<div v-for="video in all">
		<b-card>
		  	<b-media>
			    <b-img slot="aside" v-if="video.IMAGE!=''" :src="video.IMAGE" blank-color="#ccc" width="110" height="160" alt="placeholder" />
			    <b-img slot="aside" v-else blank blank-color="#ccc" width="110" height="160" alt="placeholder" />
			    <br>
			    <h5 class="mt-0">
			    	<div v-if="video.edit==false">
					  	<a v-if="video.LINK!=''" :href="video.LINK" target="_blank">{{video.TITLE}}&nbsp;&nbsp;{{video.USERRATING}}</a>
				  		<a v-else>{{video.TITLE}}</a>
				  		<a v-if="video.TITLE==''">{{video.FILENAME}}</a>
			  			<input v-if="video.FAVORITE==true" type="checkbox" title="add Video to Favorite" :value="video.ID" @click="clickFavoriteCheckbox($event, video)" checked="checked">
		  				<input v-else type="checkbox" title="add Video to Favorite" :value="video.ID" @click="clickFavoriteCheckbox($event, video)" >
			    	</div>
			    	<div v-else >
			    		<input type="text" class="EditTitleInput" placeholder="Enter Change Title" v-autofocus
			    			 		 @keyup.enter="onVideoInfoEditSave(all, video)"
			    		 			 @keyup.esc="video.edit=false"
			    		  			 @change="onVideoInfoTitleChange(video, $event)">			    		 
			    	</div>
		  			<div class="EditBtnBox" v-if="video.VIDEOTYPE=='Movie'">
				    	<b-button class="EditBtnGroup" v-if="video.edit==false" @click="onVideoInfoEdit(video)">Edit</b-button>
				    	<b-button class="EditBtnGroup" v-if="video.edit==true" @click="onVideoInfoEditSave(all, video)">Save</b-button>
				    	<b-button class="EditBtnGroup" v-if="video.edit==true" @click="onVideoInfoEditCancel(video)">Cancel</b-button>
		  			</div>		
			    </h5>
			    <b-button :href="video.STREAMINGURL"  target="_blank">Streaming</b-button>
		    </b-media>
	    </b-card>
  	</div> 
</div>
</template>


<script>
import Vue from 'vue'
import axios from 'axios'
import {videos} from '../videos.js'
import {videoMixin} from '../mixin/videoMixin.js'

export default {
	name: 'ContentView',
	props: ['videoType'],
	mixins: [videoMixin],
	data () {
	  return {
		all: videos.getByType(this.$props.videoType),
		video: {}
	  }
	},	
  	methods: {
		onVideoInfoEdit(video) {
			if(video.edit == false)
				video.edit = true
		},
		onVideoInfoEditCancel(video) {
			video.edit = false
			delete video.NEWTITLE
		},
		onVideoInfoTitleChange(video, title) {
			if(title != "" || title != undefined || title != null) {
				//b-form-input 사용 시 아래로 변경
				//video.NEWTITLE = title
				video.NEWTITLE = title.currentTarget.value
			}
		},  		
		onVideoInfoEditSave(allVideo, video) {
			if(!video.NEWTITLE) {
				alert("Title Not Inputed...")
				return
			}
			
			var contentView = this;
			var targetVideo = video;
			axios.put('http://localhost:8080/updateMovie', {ID: video.ID, NEWTITLE: video.NEWTITLE, FILENAME: video.FILENAME})
			.then(function(response){	
				var targetIdx = allVideo.findIndex(function(item) { 
					return item.ID == response.data.id 
				})
				
				var target = Object.assign({}, allVideo[targetIdx], { 
					FILENAME: response.data.fileName,
					ID: response.data.id,
					IMAGE: response.data.image,
					LINK: response.data.link,
					STREAMINGURL: response.data.streamingUrl,
					TITLE: response.data.title,
					USERRATING: response.data.userRating,
					VIDEOTYPE: response.data.videoType,
					edit: false,
					}
				)			
				contentView.$set(allVideo, targetIdx, target)
			})
			.catch(function(error) {
				alert(error.response.data);
			})
		},
  	}
}
</script>

<style>
.EditBtnBox {
	float: right;
	height: 100px;
	width: 100px;
}

.EditBtnGroup {
	width: 80px;
	margin: 5px auto;
}

.EditTitleInput {
	width: 800px
}

input[type=text]{
    width:80%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 5px 0 dodgerBlue;
  }
</style>