<template>
<div class="loginView">
  <div class="ev-login col-sm-4 offset-sm-4">
  	<h1>Login</h1>
    <div class="alert alert-danger" v-if="error">
      <p>{{ error }}</p>
    </div>
    <div class="form-group">
      <input type="text" data-id="login.username" class="form-control js-login__username" placeholder="Enter your ID"
        v-model="credentials.uid" @keyup.enter="onSubmit()" autofocus>
    </div>
    <div class="form-group">
      <input type="password" class="form-control js-login__password " placeholder="Enter your password"
        v-model="credentials.password" @keyup.enter="onSubmit()">
    </div>
    <button data-id="login.submit" class="btn btn-primary solid blank js-login__submit" @click="onSubmit()">
      Login &nbsp; <i class="fa fa-arrow-circle-o-right"></i>
    </button>
   	<br><br>
   	<a href="#" @click="singUpModal()">Sign up here.</a>
  </div>
  <div class="RegisterModal">
  	<userRegister v-if="registerModal" v-bind:modalProps="{modalShow: true}"></userRegister>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import {videoMixin} from '../mixin/videoMixin.js'
import userRegister from './userRegister.vue'

export default {
  name: 'login',
  mixins: [videoMixin],
  components: {
	  userRegister  
  },
  data () {
    return {
      credentials: {
        uid: '',
        password: ''
      },
      loggingIn: false,
      error: '',
      registerModal: false
    }
  },
  beforeCreate() {
	if(this.$session.exists()==true) {
	  this.$router.push('/all')
	}
  },
  methods: {
    onSubmit () {
      if(this.credentials.uid == '') {
    	  alert("Check Input ID")
    	  return
      }
      if(this.credentials.password == '') {
    	  alert("Check Input Password")
    	  return 
      }
      this.loggingIn = true
      const credentials = {
        uid: this.credentials.uid,
        password: this.credentials.password
      }

	  var loginVue = this
      axios.post('http://localhost:8080/login', credentials)
        .then(function (response) {
        	if (response.status === 200 ) {
        		loginVue.$session.set("loginedUser", response.data)
	  			loginVue.$router.push('/all')
        	}
  		})
 		.catch(function (error) {
 			alert(error.response.data)
  		})
    },
    singUpModal(){
		this.registerModal=true
    }
  },
}
</script>

<style>
.loginView {
    margin: auto;
    width: 100%;
    padding: 200px;
 }
</style>