<template>
  <div class="movie">
	<ContentView v-if="contentViewFlag" videoType="movie"></ContentView>
  </div>
</template>

<script>
import {videos} from '../videos.js'
import {videoMixin} from '../mixin/videoMixin.js'
import ContentView from './contentView.vue'

export default {
  name: 'movie',
  mixins: [videoMixin],
  components: {
	ContentView
  },
  data(){
	  return {
		  contentViewFlag: videos.movie.length>0 ? true : false
	  }
  },  
  beforeCreate() {
	if (this.$session.exists()==false) {
		this.$router.push('/')
	}
  },  
}
</script>