<template>
  <div class="search">
  	<ul class="list-group">
	  <li v-for="video in filterSearch" class="list-group-item">
	  	<img v-if="video.IMAGE!=''" alt="post" :src="video.IMAGE">
	  	<a v-if="video.LINK!=''" :href="video.LINK" target="_blank">{{video.TITLE}} {{video.USERRATING}}</a>
  		<a v-else>{{video.TITLE}}</a>
	  	<a v-if="video.TITLE==''">{{video.FILENAME}}</a>
	  	<a :href="video.STREAMINGURL" target="_blank">Streaming</a>
	  	<input v-if="video.FAVORITE==true" type="checkbox" title="add Video to Favorite" :value="video.ID" @click="clickFavoriteCheckbox($event, video)" checked="checked">
	  	<input v-else type="checkbox" title="add Video to Favorite" :value="video.ID" @click="clickFavoriteCheckbox($event, video)" >
	  </li>
  	</ul>
  </div>
</template>

<script>
import {videos} from '../videos.js'
import {videoMixin} from '../mixin/videoMixin.js'

export default {
  name: 'search',
  mixins: [videoMixin],
  data () {
    return {
		all: videos.all,
		video: {},
    }
  },
  computed: {
	filterSearch: function() {
		var searchQuery = this.$route.params.searchQuery
		return this.all.filter(function(video){
			return video.TITLE.includes(searchQuery)
		})
	}
  },
  beforeCreate() {
	if (this.$session.exists()==false) {
		this.$router.push('/')
	}
  },
}
</script>


