<template>
<div>
  <!-- Modal Component -->
  <b-modal id="modal1" v-model="modalShow" ok-title="OK!" @ok="onSubmit" @cancel="onReset" centered title="Sign up">
      <b-form v-if="show">
      <b-form-group id="InputGroup1" label="Your ID:" label-for="Enter ID"
                    description="The User ID is Unique. Can't Change">
        <b-form-input id="InputID" type="text" v-model="form.uid">
        </b-form-input>
      </b-form-group>
      <b-form-group id="InputGroup2"
                    label="Enter Password:"
                    label-for="InputPassword">
        <b-form-input id="InputPassword" type="password" v-model="form.password" placeholder="Enter Password" @keyup.enter="onSubmit">
        </b-form-input>
      </b-form-group>
    </b-form>
  </b-modal>
</div>
</template>

<script>
import axios from 'axios'
import {videoMixin} from '../mixin/videoMixin.js'

export default {
  name: 'userRegister',
  mixins: [videoMixin],
  props: ['modalProps'],
  data () {
    return {
      form: {
        uid: '',
        password: '',
      },
      show: true,
      modalShow: this.$props.modalProps.modalShow
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      if(this.form.uid == '') {
    	  alert("Check Input ID")
    	  return
      }
      if(this.form.password == '') {
    	  alert("Check Input Password")
    	  return 
      }
      
      var profileVue = this
      axios.post('http://localhost:8080/register', this.form)
      .then(function (response) {
      	if (response.status == 200 ) {
      		profileVue.$router.go('/login')
      	}
	  })
	  .catch(function (error) {
		alert(error.response.data);
	  })
    },
    onReset (evt) {
      /* Reset our form values */
      this.form.password = ''
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.modalShow = false
      this.$nextTick(() => { 
    	this.show = true
   	  	this.$router.go('-1')
      })
    },
  },
  beforeCreate() {
	if (this.$session.exists()==true) {
		this.$router.push('/all')
	}
  },
}
</script>