<template>
<div id="userProfile">
  <!-- Modal Component -->
  <b-modal id="modal1" v-model="modalShow" ok-title="OK!" @ok="onSubmit" @cancel="onReset" @keyup.esc.native="onReset" @shown="focusMyElement" centered title="User Profile">
      <b-form v-if="show">
      <b-form-group id="InputGroup1" label="Your ID:" label-for="InputID"
                    description="The User ID is Unique. Can't Change">
        <b-form-input id="InputID" type="text" v-model="form.uid" disabled>
        </b-form-input>
      </b-form-group>
      <b-form-group id="InputGroup2"
                    label="Change Password:"
                    label-for="InputPassword">
        <b-form-input id="InputPassword" type="password" v-model="form.password" placeholder="Enter Password"
        				 @keyup.enter.native="onSubmit"
        				 ref="InputNewPassword">
        </b-form-input>
      </b-form-group>
    </b-form>
  </b-modal>
</div>
</template>

<script>
import axios from 'axios'
import {videoMixin} from '../mixin/videoMixin.js'

export default {
  name: 'userProfile',
  mixins: [videoMixin],
  data () {
    return {
      form: {
        uid: this.$session.get("loginedUser"),
        password: '',
      },
      show: true,
      modalShow: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      if(this.form.password=='') {
    	alert("Check Input Password")
    	return 
      }
            
      var submitClose = false
      var profileVue = this
      axios.put('http://localhost:8080/profile', this.form)
      .then(function (response) {
      	if (response.status === 200 ) {
      		alert("Password Changed")
      		profileVue.$router.go('-1')
      	}
	  })
	  .catch(function (error) {
		  alert(error.response.data);
	  })
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.password = ''
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => { 
    	  this.show = true
    	  this.$router.go('-1')
      })
    },
    focusMyElement(e) {
		this.$refs.InputNewPassword.focus()
    }
  },
  beforeCreate() {
	if (this.$session.exists()==false) {
		this.$router.push('/')
	}
  }
}
</script>