<template>
<div id="app">
	<b-navbar toggleable="md" type="dark" variant="info">
	
	  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
	
	  <b-navbar-brand :to="{ name: 'all'}" exact>All</b-navbar-brand>
	  <b-navbar-nav>
	    <b-nav-item :to="{ name: 'movie'}">Movie</b-nav-item>
	    <b-nav-item :to="{ name: 'tv'}">Tv</b-nav-item>
	  </b-navbar-nav>
	
	  <b-navbar-nav class="ml-auto">
	    <b-nav-form>
	      <b-form-input size="sm" class="mr-sm-2" type="text" v-model="searchQuery" placeholder="Search"/>
	      <b-button size="sm" class="my-2 my-sm-0" type="submit" @click.prevent="search">Search</b-button>
	      <b-button size="sm" class="my-2 my-sm-0" type="submit" @click.prevent="searchClear">Clear</b-button>
	    </b-nav-form>
	
	    <b-nav-item-dropdown right>
	      <template slot="button-content">
	        <em>User</em>
	      </template>
	      <b-dropdown-item :to="{name: 'userProfile'}">Profile</b-dropdown-item>
	      <b-dropdown-item @click="logout">Logout</b-dropdown-item>
	    </b-nav-item-dropdown>
	  </b-navbar-nav>
	
	  </b-collapse>
	</b-navbar>

	<div>
		<router-view></router-view>
	</div>
</div>
</template>

<script>
import axios from 'axios'
import {videos} from './videos.js'
import {videoMixin} from './mixin/videoMixin.js'

export default {
  name: 'App',
  mixins: [videoMixin],
  data() {
	  return {
		  searchQuery: ''
	  }
  },
  methods: {
	  search(){
		  if(this.searchQuery==0) {
				this.$router.push('/all')		  
		  } else {
				this.$router.push({  name:'search', params: {searchQuery: this.searchQuery} })
		  }
	  },
	  searchClear(){
		this.searchQuery = ''
		this.$router.push('/all')		  
	  },
	  logout(){
		  this.$session.destroy()
		  this.$session.clear()
		  this.clearVideosJS()
		  this.$router.push('/')		  
	  }
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
   list-style:none;
}

li {
   list-style:none;
}
   
.circle {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 30px;
  left: 50%;
  margin-left: -70px;
}   

</style>
